In [2]:
import pandas as pd

In [7]:
a = pd.read_csv('d.csv')
cols = a.columns[1:]
d_train_Clean = a[cols]

In [12]:
d_train_Clean.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   0.78    5      5        5   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    4      7        3   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    4      5        3   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    4      6        6   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    4      1        3   61.4   55.0  5.58  5.62  3.44   1276

In [19]:
d_train_Clean.cut.value_counts()

4    16141
5    10303
3     9068
2     3631
1     1202
Name: cut, dtype: int64