In [8]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor

In [112]:
d = pd.read_csv('diamonds_train.csv')

In [113]:
# AQUI DROPEO 'ID' PORQUE ES UN FEATURE REPETIDO Y QUE NO INCIDE EN EL PRECIO

In [114]:
d=d.drop("id", axis=1)

In [115]:
d.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [116]:
d.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [117]:
d.head(2)

   carat      cut color clarity  depth  table     x     y     z  price
0   0.78  Premium     F     VS1   61.5   58.0  5.93  5.98  3.66   3446
1   0.31    Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64    732

In [118]:
d.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [119]:
cuts = {'Fair': 1,
        'Good': 2,
        'Very Good': 3,
        'Ideal': 4,
        'Premium': 5}
d.cut = d.cut.map(cuts)

In [120]:
colors = {'J': 1,
          'I': 2,
          'H': 3,
          'G': 4,
          'F': 5,
          'E': 6,
          'D': 7}
d.color = d.color.map(colors)

In [121]:
clar = {'I1':1,
        'SI2':2,
        'SI1':3,
        'VS2':4,
        'VS1':5,
        'VVS2':6,
        'VVS1':7,
        'IF':8}
d.clarity = d.clarity.map(clar)

In [122]:
d

       carat  cut  color  clarity  depth  table     x     y     z  price
0       0.78    5      5        5   61.5   58.0  5.93  5.98  3.66   3446
1       0.31    4      7        3   60.8   56.0  4.37  4.32  2.64    732
2       0.30    4      5        3   62.3   54.0  4.30  4.34  2.69    475
3       1.04    4      6        6   62.0   58.0  6.54  6.46  4.03   9552
4       0.65    4      1        3   61.4   55.0  5.58  5.62  3.44   1276
...      ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
40340   0.50    4      6        5   61.9   56.0  5.09  5.12  3.16   1716
40341   0.33    4      7        4   61.8   56.0  4.40  4.44  2.73    781
40342   0.40    5      4        7   61.5   58.0  4.69  4.74  2.90   1123
40343   1.06    4      2        5   61.2   57.0  6.59  6.56  4.03   5651
40344   1.01    3      3        2   63.4   55.0  6.35  6.29  4.01   3959

[40345 rows x 10 columns]

In [ ]:
rf_reg = RandomForestRegressor(n_estimators=15, max_depth=3, min_samples_leaf=3, random_state=111)
selector = RFECV(rf_reg, step=1, cv=5)